.priority .MuiOutlinedInput-notchedOutline {
    border-color: var(--urgent-important-select-color);
    border-width: 3px;
    border-radius: 10px;
}

.priority.NotUrgImp .MuiOutlinedInput-notchedOutline {
    border-color: var(--not-urgent-important-select-color);
}